body {
    font-family: 'Roboto', monospace;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    color: white;
    background-color: darkgreen;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 1000;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.footer {
    background-color: darkgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.body {
    display: flex;
    flex: 1;
}

.hero {
    display: flex;
    padding: 100px 245px;
    flex: 1;
    gap: 50px;
    justify-content: center;
    background-color: darkgreen;
}

.left-hero {
    max-width: 450px;
}

.main {
    font-size: 48px;
    color: white;
    font-weight: 1000;
}

.secondary {
    font-size: 18px;
    color: lightgrey;
    margin-bottom: 15px;
}

.image {
    width: 500px;
    height: 200px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(113, 177, 113);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 500;
}
