body {
    font-family: 'Roboto', monospace;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    color: white;
    background-color: darkgreen;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    align-items: center;
}

.logo {
    font-size: 24px;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.footer {
    background-color: darkgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.body {
    
}

